.media-box {
  display: inline-block;
  // float: left;
  border: solid 4px white;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.top-bar .name h1 a {
  width: 100%;
}

.panel.callout {
  border-color: #b07129;
  background: #fcb13d;
}
