<table>
  <tr>
    <td>
      <p>Bienvenido <%= @email %>!</p>

      <p class="callout">
        Podés confirmar tu cuenta para Phoneticket con el siguiente link
        <%= link_to 'Confirmar', confirmation_url(@resource, :confirmation_token => @token) %>
      </p>

    </td>
  </tr>
</table>

<%= content_for(:header) do %>
  <table bgcolor="#fcb13d">
    <tr>
      <td><%= image_tag "cinemar-logo-big.png", size: "114x50" %></td>
      <td>
        <h2>Phoneticket</h2>
      </td>
      <td align="right"><h6 class="collapse"></h6></td>
    </tr>
  </table>
<% end %>
